////START Last Result
.last-result {
  margin-top: rem(80px);

  &__result-wrapper {
    max-width: rem(640px);
  }
}
//? END Last Result

////START Shedule section
.shedule {
  &__game {
    grid-template-columns: 1fr auto 1fr;
  }
  &__logo-team {
    grid-template-rows: 1fr 2fr;
    height: 100%;
  }
  &__logo-img {
    img {
      width: rem(150px) !important;
      height: rem(150px) !important;
      object-fit: cover;
    }
  }

  &__home {
    @include font(rem(60px), 500, $titleFontFamily);
    align-self: center;
  }

  &__league {
    margin: rem(4px) 0;
  }
}
//? END Shedule section
.swiperShedule {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
