nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

.top-nav {
  background: $primaryBlue;

  @include e(wrapper) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  // //START LEFT TOP nav

  @include e(left) {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: rem(14px) 0;
    list-style: none;
    flex-basis: 20%;
  }
  @include e(left-item) {
    span {
      color: $white;
      opacity: 0.6;
    }
  }

  @include e(left-link) {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    @include font(rem(12px), 300, $textFontFamily);
    transition: all 0.6s;

    &:hover {
      color: $secondGold;
      cursor: pointer;
    }
  }
  // ? END LEFT TOP nav
  /* ================== */
  // //START RIGHT TOP nav

  @include e(right) {
    display: flex;
    flex-basis: 35%;
    align-items: center;
  }

  @include e(social) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 40%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  @include e(icon) {
    width: 20px;
    height: 20px;
    fill: $white;
    opacity: 0.8;
  }

  &__social-link {
    transition: all 0.6s;
    &:hover {
      .top-nav__icon {
        fill: $secondGold;
      }
    }
  }

  @include e(right-nav) {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-basis: 60%;
    justify-items: flex-end;
  }

  @include e(right-item) {
    justify-self: flex-end;
    span {
      color: $white;
      opacity: 0.6;
    }
  }

  @include e(right-link) {
    color: $white;
    text-decoration: none;
    @include font(rem(12px));
    text-transform: uppercase;
    transition: all 0.6s;

    &:hover {
      color: $secondGold;
      cursor: pointer;
    }
  }
}

// ? END RIGHT TOP nav
