//fonts
$google-font: 'https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Teko:wght@300;400;600;700&display=swap';
$prefix: prefix- !default;
$baseFontSize: 16px;
$titleFontFamily: 'Teko', sans-serif;
$textFontFamily: 'Rubik', sans-serif;
$mediumFont: 400;
$boldFont: 700;
$h2Size: 40px;
$h2-mob: 34px;
$h3Size: 30px;
$h3-mob: 26px;

$mobilePadding: (12px / $baseFontSize) * 1.2rem;
$desktopPadding: 1rem;



// Paths

$imagesPath: '../i/';
$fontsPath: '../fonts/';
$usersFilesPath: '../userfiles/';

// Colors
$black: #000000;
$white: #ffffff;
$primaryBlue: rgb(29, 66, 138) !default;
$secondGold: #fdc62b !default;
$grey: #6d6d6d !default;
