footer {
  width: 100%;
  background: $primaryBlue;
  padding: rem(30px) 0;
}
.footer {
  // .footer__wrapper
  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(20px);
    // grid-template-rows: 0.5fr 1fr;
  }

  // .footer__logo

  &__logo {
    grid-column: 1;
    grid-row: 1;
    width: 150px;
    max-width: 100%;
    img {
      width: 150px;
      height: 150px;
      max-width: 100%;
    }
  }

  // .footer__contacts

  &__contacts {
    grid-column: 2 ;
    grid-row: 1;
    align-self: center;
  }
}
.contacts {
  // .contacts__adress

  &__adress {
    color: $white;
    @include font(rem(18px));
    @include respm;
    padding-bottom: rem(14px);
  }

  // .contacts__phone

  &__phone {
    display: block;
    margin-right: rem(10px);
    padding-bottom: rem(14px);
    color: $white;
    @include font(rem(18px));
    transition: 0.4s;
    
  }

  // .contacts__email

  &__email {
    display: block;
    color: $white;
    @include font(rem(18px));
    transition: 0.4s;
  }
}
.footer-nav {
  // .footer-nav__title
  grid-column: 1 / span 2;
  grid-row: 3;

  &__title {
    // .footer-nav__title_center
    // align-self: flex-end;
    @include font($h3-mob, 600, $titleFontFamily);
    text-transform: uppercase;
    color: $white;
    @include respm;
    text-align: center;
    &_center {
      grid-column: 1 / span 2;
      grid-row: 2;
    }

    // .footer-nav__title_right

    &_right {
      margin-top: rem(10px);
      grid-column: 1 / span 2;
      grid-row: 4;
    }
  }

  // .footer-nav__list

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: rem(14px);
    @include respm;
  }

  // .footer-nav__item

  &__item {
    flex-basis: calc(50% - 30px);
    margin-left: rem(30px);
  }

  // .footer-nav__link

  &__link {
    @include font(rem(15px));
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s;
  }
}
.footer-subscribe {
  // .footer-subscribe__form
  grid-column: 1 / span 2;
  grid-row: 5;
  p {
    
    @include respm;
    @include font(rem(15px));
    padding-bottom: rem(20px);
    color: $white;
    text-transform: uppercase;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // .footer-subscribe__email

  &__email {
   padding: rem(15px) rem(20px);
   background: #e2e2e2;
   color: $black;
   font-size: rem(18px);
   width: 70%;
   border-radius: rem(8px);
   margin: 0 auto;
  }

  // .footer-subscribe__submit

  &__submit {
    // display: block;
   padding: rem(15px) rem(30px);
   margin: rem(10px) auto;
   background: $secondGold;
   border-radius: rem(8px);
   color: $primaryBlue;
   @include font(rem(15px), 600);
   text-transform: uppercase;
   min-width: 70%;

  }
}
