.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: rem(10px);

  &__title {
    flex-basis: 100%;
    text-align: center;
    
  }

  &__tab-nav {
    flex-basis: 100%;
    gap: rem(30px);
  }

  &__tab-item {
    position: relative;
    overflow: hidden;
    border-bottom: 3px solid transparent;

    &_active {
      border-bottom: 3px solid $secondGold;
      opacity: 1;
    }
  }

  &-isotop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all 0.2s;
    margin: rem(20px) auto;
    flex-basis: 100%;
    //  max-width: 100%;
  }
  &-isotop__item {
    width: calc(50% - 10px);
    overflow: hidden;
    position: relative;
    &:hover img {
      transform: scale(1.05);
    }
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      transition: 0.3s ease-in-out;
    }
    &_width2 {
      width: calc(50% - 10px);
    }
  }
}
