nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo-img {
  // .logo-img_mob
  &_mob {
    width: rem(40px);
    height: rem(40px);
  }
}

.top-nav {
  background: $primaryBlue;
  width: 100%;
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  // //START LEFT TOP nav
  &__logo-mob {
    // .top-nav__logo-mob_img

    &_img {
    }
  }
  &__left {
    display: none;
  }

  // ? END LEFT TOP nav
  /* ================== */
  // //START RIGHT TOP nav

  &__right {
    display: flex;
    align-items: center;
    flex-basis: 100%;
  }

  &__social {
    display: none;
  }

  &__right-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    justify-items: flex-end;
    flex-basis: 100%;
  }

  &__right-item {
    &:first-of-type {
      margin-left: auto;
      span {
        font-size: 0;
      }
    }
    &_hide {
      display: none;
    }
  }

  &__right-link {
    color: $white;
    text-decoration: none;
    @include font(rem(12px));
    text-transform: uppercase;
    transition: all 0.6s;
  }
}

// //START MOBILE Menu
/** ---------------------------------------------------------------------------
 * Menu button.
 * ------------------------------------------------------------------------- */
/*#region*/
.menu-button {
  display: inline-block;
  transition: 0.3s ease-in-out;
  width: 30px;
  height: 20px;

  position: relative;
  margin-left: rem(20px);
}
.menu-button.in-mobile {
  position: absolute;
  top: 2rem;
  right: 2rem;
  span {
    background: $primaryBlue;
  }
}

.menu-button span {
  position: absolute;
  height: 4px;
  border-radius: 10px;
  width: 100%;
  background: $white;
  top: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.menu-button span:nth-child(1) {
  top: 0;
}

.menu-button span:nth-child(2),
.menu-button span:nth-child(3) {
  top: 10px;
}

.menu-button span:nth-child(4) {
  top: 20px;
}

.menu-button.active span:nth-child(1),
.menu-button.active span:nth-child(4) {
  opacity: 0;
}

.menu-button.active span:nth-child(2) {
  transform: rotate(45deg);
}

.menu-button.active span:nth-child(3) {
  transform: rotate(-45deg);
}
/*#endregion*/

/** ---------------------------------------------------------------------------
* Mobile menu 
* ------------------------------------------------------------------------- */

/*#region*/

/* Dark overlay.  */
.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 99998;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 66, 138, 0.8);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.dark-overlay.visible {
  opacity: 1;
  visibility: visible;
}

/* Mobile menu. */
.mobile-menu {
  background-color: $secondGold;
  padding: 6rem 0 2rem;
  position: fixed;
  width: 18rem;
  top: 0;
  right: -100%;
  transition: right 0.3s;
  z-index: 99999;
  height: 100%;
  overflow: scroll;
}

.mobile-menu.visible {
  right: 0;
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobile-navigation a {
  display: block;
  padding: 1rem;
  color: $primaryBlue;
  @include font(rem(18px), '', $textFontFamily);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

.mobile-navigation a.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.mobile-navigation li {
  position: relative;
}

/* 1st level. */
.mobile-navigation > ul > li > a {
  font-weight: bold;
}

/* Lower levels. */
.mobile-navigation li ul {
  padding-left: 2rem;
  display: none;
}

/* Drop-down arrows. */
.mobile-navigation li.has-submenu:after {
  content: '';
  position: absolute;
  top: 1.6rem;
  width: 0;
  height: 0;
}

.mobile-navigation li.has-submenu:after {
  right: 1rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(29, 66, 138, 0.5);
}

.mobile-navigation li.has-submenu.opened:after {
  border-bottom: 5px solid rgba(29, 66, 138, 0.5);
  border-top: none;
}

.mob-bottom__items {
  &_m-top {
    margin-top: 5%;
  }
  a {
    font-weight: 400 !important;
  }
}

.mobile-menu__social {
}

.mobile-menu {
  // .mobile-menu__social

  &__social {
    // .mobile-menu__social_facebook
    &-list {
      display: flex !important;
      flex-direction: row;
      flex-wrap: nowrap;
      list-style: none;
      justify-content: space-around;
      margin: 0 !important;
      padding: 0 !important;
      margin-top: 10% !important;
    }

    &-item {
      width: 40px;
      height: 40px;
    }
  }
  &__social-link {
    margin: 0 !important;
    padding: 0 !important;
    width: 40px;
    height: 40px;
  }

  // .mobile-menu__icon

  &__icon {
    width: 40px;
    height: 40px;
    fill: $primaryBlue;
  }
}

/*#endregion*/
// ?END MOBILE Menu

// ? END RIGHT TOP nav
