#main-tab-1 {
  background: linear-gradient(
      to right,
      rgba(29, 66, 138, 0.9),
      rgba(29, 66, 138, 0.4)
    ),
    url('#{$imagesPath}hero1.jpg') no-repeat;
  background-size: cover;
  background-position: 30% 0;
}

#main-tab-2 {
  background: linear-gradient(
      to right,
      rgba(29, 66, 138, 0.9),
      rgba(29, 66, 138, 0.4)
    ),
    url('#{$imagesPath}main-tab-2.avif') no-repeat;
  background-size: cover;
  background-position: center;
}

#main-tab-3 {
  background: linear-gradient(
      to right,
      rgba(29, 66, 138, 0.9),
      rgba(29, 66, 138, 0.4)
    ),
    url('#{$imagesPath}main-tab-3.avif') no-repeat;
  background-size: cover;
  background-position: center;
}

#main-tab-4 {
  background: linear-gradient(
      to right,
      rgba(29, 66, 138, 0.9),
      rgba(29, 66, 138, 0.4)
    ),
    url('#{$imagesPath}main-tab-4.avif') no-repeat;
  background-size: cover;
  background-position: center;
}
main {
  position: relative;
  margin-bottom: 4px;
}

// //START TAB navigation
.main-tab {
  display: none;
  &_mob {
    position: absolute;
    bottom: -34px;
    width: 100%;
    height: rem(34px);
  }

  &__list {
    @include respm;
    list-style: none;
    display: flex;
    gap: rem(10px);
    justify-content: center;
    align-items: center;
    margin: rem(20px) 0;
    // opacity: .9;
  }
  &__item {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    background: $primaryBlue;
    transition: 0.1s;
  }
}
.active-main-tab {
  background: $secondGold;
}
// ?END TAB navigation

.main {
  .container {
    padding: rem(20px) $mobilePadding;
    margin: 0 auto;
    width: 100%;
    height: 86svh;
    position: relative;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
  }

  &__title {
    width: 100%;
    @include respm;
    @include font($h2-mob, 600, $titleFontFamily);
    text-transform: uppercase;
    color: $white;
  }
  &__text {
    margin: 0;
    padding: rem(20px) 0;
    @include font(rem(18px));
    line-height: rem(28px);
    width: calc(99%);
    color: $white;

    p {
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__button {
    display: flex;
    width: max-content;
    height: max-content;
    align-items: center;
    padding: rem(14px) rem(20px);
    background: $secondGold;
    text-transform: uppercase;
    text-decoration: none;
    color: $primaryBlue;
    @include font(rem(18px), 600, $titleFontFamily);
    border-radius: rem(4px);
    i {
      align-self: center;
      padding-bottom: 5%;
      padding-left: rem(5px);
      font-style: 0.8rem;
    }
  }
}
