.news {
  margin-top: rem(20px);

  &__title {
    text-align: center;
    
  }

  &__tab-list {
    @include respm;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: rem(10px) rem(20px);
  }

  &__tab-item {
    position: relative;
    overflow: hidden;

    &_active {
      border-bottom: 3px solid $secondGold;
      opacity: 1;
    }
  }

  &__content {
    max-width: rem(500px);
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(30px);
    justify-items: center;
    margin: rem(10px) auto;
  }
}

.news-item {
  display: grid;
  grid-template-rows: 1fr;
  &_5 {
    display: none;
  }

  &__img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    // height: rem(120px);
    img {
      max-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  &__text {
    display: grid;
    grid-template-rows: 0.2fr 0.5fr 0.2fr;
  }
  &__date {
    grid-row: 1;
    flex-basis: 100%;
    @include respm;
    margin: rem(14px) 0;
    font-size: rem(12px);
    color: $secondGold;
    text-transform: uppercase;
  }

  &__title {
    grid-row: 2;
    @include respm;
    @include font(rem(24px), 500, $titleFontFamily);
    height: 100%;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $black;
    }
  }

  &__tags {
    grid-row: 3;
    margin-top: rem(16px);
    display: flex;
    flex-wrap: nowrap;
    gap: rem(30px);
    justify-content: space-between;
  }

  &__tag {
    flex-basis: 50%;
    a {
      color: $grey;
      text-decoration: none;
      @include font(rem(14px));
    }
  }

  &__comments {
    flex-basis: 20%;
    a {
      color: $grey;
      text-decoration: none;
      @include font(rem(14px));
    }
  }
}

.hidden {
  display: none;
}
