.news {
  margin-top: rem(20px);

  &__title {
    text-align: center;
    @include font($h2-mob, 600, $titleFontFamily);
    color: $primaryBlue;
    text-transform: uppercase;
    @include respm;
  }

  &__tab-list {
    @include respm;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: rem(10px) rem(20px);
  }

  &__tab-item {
    @include font(rem(22px), 500, $titleFontFamily);
    position: relative;
    overflow: hidden;

    &_active {
      border-bottom: 3px solid $secondGold;
      opacity: 1;
    }
  }

  &__content {
    margin-top: rem(10px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(20px);
  }
}

.news-item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  &_5 {
    display: none;
  }

  &__img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    // height: rem(120px);
    img {
      max-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__text {
    display: grid;
    grid-template-rows: 0.3fr 1fr 0.2fr;
  }
  &__date {
    grid-row: 1;
    flex-basis: 100%;
    @include respm;
    margin: rem(14px) 0;
    font-size: rem(12px);
    color: $secondGold;
    text-transform: uppercase;
  }

  &__title {
    grid-row: 2;
    @include respm;
    @include font(rem(24px), 500, $titleFontFamily);
    height: 100%;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $black;
    }
  }

  &__tags {
    grid-row: 3;
    margin-top: rem(16px);
    display: flex;
    flex-wrap: nowrap;
    gap: rem(30px);
  }

  &__tag {
    flex-basis: 30%;
    a {
      color: $grey;
      text-decoration: none;
      @include font(rem(14px));
    }
  }

  &__comments {
    flex-basis: 20%;
    a {
      color: $grey;
      text-decoration: none;
      @include font(rem(14px));
    }
  }
}

.hidden {
  display: none;
}
