.news {
  margin-top: rem(20px);

  &__title {
    @include font($h2-mob, 600, $titleFontFamily);
    color: $primaryBlue;
    text-transform: uppercase;
    @include respm;
  }



  &__tab-list {
    @include respm;
    
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: rem(10px) rem(20px);
  }

  &__tab-item {
    @include font(rem(22px), 500, $titleFontFamily);
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      width: 100%;
      height: 3px;
      background: $secondGold;
      position: absolute;
      bottom: -3px;
      right: 100%;
    }

    &_active {
      border-bottom: 3px solid $secondGold;
      opacity: 1;
    }
  }

  &__content {
    margin-top: rem(10px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(20px);
  }
}

.news-item {
  display: grid;
  grid-template-rows: 1.5fr .3fr 1fr .3fr;
  &_5 {
    display: none;
  }

  &__img {
    max-width: 100%;
    height: rem(200px);
    img {
      max-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

  }
  &__date {
    @include respm;
    margin: rem(14px) 0;
    font-size: rem(12px);
    color: $secondGold;
    text-transform: uppercase;
  }

  &__title {
    @include respm;
    @include font(rem(24px), 600, $titleFontFamily);
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $black;
    }
  }

  &__tags {
    display: flex;
    gap: rem(40px);
  }

  &__tag {
    a {
      color: $grey;
      text-decoration: none;
      @include font(rem(14px));
    }
  }

  &__comments {
    a {
      color: $grey;
      text-decoration: none;
      @include font(rem(14px));
    }
  }

}

.hidden {
  display: none;
}
