////START Last Result
.last-result {
  text-align: center;
  margin-top: rem(60px);
  padding-bottom: rem(40px);

  &__title {
  }

  &__league {
    margin: 0;
    padding: 0;
    @include font(rem(24px), 600, $titleFontFamily);
    color: $grey;
  }

  &__result-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    justify-items: center;
    width: 100%;
    max-width: rem(480px);
    margin: 0 auto;
  }

  &__logo-team {
    width: 100%;
    max-width: 100%;
    margin-top: 15%;
    img {
      width: rem(80px);
      height: rem(80px);
    }
    &_left {
      grid-column: 1;
      grid-row: 1;
    }
    &_right {
      grid-column: 3;
      grid-row: 1;
    }
  }

  &__result {
    margin-top: rem(10px);
    grid-column: 2;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    gap: rem(10px);
    justify-content: center;
    align-items: center;
  }

  &__teame-name {
    display: none;
  }

  &__score {
    width: rem(60px);
    height: rem(60px);
    background: $primaryBlue;
    color: $secondGold;
    @include font(rem(40px), 600, $titleFontFamily);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__home {
    align-self: center;
    @include font(rem(60px), 500, $titleFontFamily);
    color: $primaryBlue;
  }
  &__date {
    grid-row: 2;
    grid-column: span 3;
    align-self: start;
    border-top: solid 2px $secondGold;
    margin: 0;
    @include font(rem(24px), 500, $titleFontFamily);
  }
}
//? END Last Result

////START Shedule section
.shedule {
  width: 100%;
  margin-top: rem(20px);
  background: $primaryBlue;
  padding: rem(20px) 0;

  &__title {
    text-align: center;
    color: $secondGold;
  }

  &__game {
    width: 100%;
    max-width: rem(500px);
    padding: rem(20px) rem(15px);
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 0.2fr 0.1fr 0.2fr 0.2fr;
    background: $white;
    border-radius: rem(4px);
    justify-items: center;
  }

  &__logo-team {
    width: 100%;
    max-width: 100%;
    text-align: center;
    align-self: center;
    display: grid;
    grid-template-rows: 0.7fr 1fr;
  }
  &__logo-img {
    width: 100%;
    max-width: 100%;
    img {
      width: rem(120px) !important;
      height: rem(120px) !important;
      object-fit: contain !important;
    }
  }
  &__teame-name {
    @include font(rem(30px), 500, $titleFontFamily);
    @include respm;
    margin-top: rem(10px);
    text-align: center;
    color: $primaryBlue;
  }

  &__home {
    @include font(rem(50px), 500, $titleFontFamily);
    @include respm;
    text-align: center;
    color: $primaryBlue;
    align-self: center;
  }

  &__league {
    grid-column: span 3;
    @include font(rem(28px), 500, $titleFontFamily);
    margin: rem(10px) 0;
    color: $grey;
  }

  &__date {
    grid-column: span 3;
    @include font(rem(22px), 500, $titleFontFamily);
    @include respm;
    color: rgba(0, 0, 0, 0.7);
  }
}
//? END Shedule section

// //START SWIPER
.swiperShedule {
  width: 100%;
  height: 100%;
  max-width: rem(520px);
}
.swiper-wrapper_shedule {
  display: flex;
  justify-content: space-between;
}

.swiper-slide_shedule {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: rem(10px) !important;
}

.swiper-slide_shedule img {
  display: inline-block !important;
  text-align: center;
  width: 100% !important;
  height: auto !important;
  object-fit: cover;
}

.swiper-pagination_shedule {
  position: static !important;
  // height: rem(30px);
  display: flex;
  gap: rem(10px);
  margin-top: rem(15px);
  justify-content: center;
}
.swiper-pagination-bulet_shedule {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px !important ;
  font-size: 40px !important;
  color: yellow !important;
  opacity: 1;
  background: transparent;
  border: 3px solid $white;
}

.swiper-pagination-bulet-active_shedule {
  color: #fff;
  background: transparent;
  border: 3px solid $secondGold;
}

.swiper-pagination_shedule {
}
// ?END SWIPER

// //START COUNTER
.shedule {
  &__count {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    margin-top: rem(14px);
    gap: rem(10px);
    &-time {
      background: $primaryBlue;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: rem(10px) 0;
      color: $secondGold;
      width: rem(60px);
      height: rem(60px);
    }
    &-num {
      flex-basis: 100%;
      @include respm;
      @include font(rem(20px), 600);
    }
    &-text {
      flex-basis: 100%;
      @include respm;
    }
    &-end-game {
      // @include respm;
      @include font(rem(36px), 500, $titleFontFamily);
      color: $primaryBlue;
      text-transform: uppercase;
      margin-top: rem(10px);
    }
  }
}
// ?END COUNTER
