.statistic {
  margin-top: rem(40px);
  padding-bottom: rem(20px);
  &__title {
    margin: 0;
    padding: rem(20px) 0;
    @include font(rem(40px), 600, $titleFontFamily);
    color: $primaryBlue;
    text-align: center;
    text-transform: uppercase;
  }
  &__table {
    width: 100%;
    border-collapse: collapse;
    th {
      text-transform: uppercase;
      text-align: left;
      border-bottom: 1px solid rgba(172, 172, 172, 0.6);
      &:hover {
        cursor: pointer;
      }
    }
    td {
      padding: rem(10px) 0;
      margin: 0;
      border-bottom: 1px solid rgba(172, 172, 172, 0.6);
    }
  }
}

.player-stat {
  margin-top: rem(40px);
  &__head-title {
    text-align: center;
    @include font(rem(40px), 600, $titleFontFamily);
    @include respm;
    padding: rem(20px) 0;
    color: $primaryBlue;
    text-transform: uppercase;
  }
  &__player {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    gap: rem(10px);
    justify-items: space-between;
    margin-top: rem(30px);
    position: relative;
  }
  &__title {
    grid-column: span 2;
    grid-row: 1;
    @include font(rem(30px), 600, $titleFontFamily);
    @include respm;
  }
  &__stat {
    grid-column: span 2;
    grid-row: 2;
    @include font(rem(70px), 700, $titleFontFamily);
    color: $primaryBlue;
    @include respm;
    span {
      vertical-align: super;
      font-size: rem(40px);
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  &__name {
    grid-column: 1;
    grid-row: 3;
    align-self: flex-start;
    @include font(rem(30px), 500);
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
    &_first {
      width: 75%;
    }
    z-index: -1;
  }
}

// //START SWIPER
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  position: relative;
  transition-duration: 0.8s !important;
}
.swiper-slide {
  //   text-align: center;
  height: 100%;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(10px);
  z-index: 9;
  margin-top: rem(30px);
  margin-bottom: rem(30px);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination {
  position: absolute !important;
  top: 0 !important;
  height: rem(30px);
  display: flex;
  justify-content: space-around;
  //   z-index: -1;
}

.swiper-pagination-bullet {
  width: auto;
  height: auto;
  text-align: center;
  line-height: rem(30px);
  @include font(rem(25px), 500, $titleFontFamily);
  color: $primaryBlue;
  opacity: 1;
  background: transparent;
  border-radius: 0;
  text-transform: uppercase;
}

.swiper-pagination-bullet-active {
  margin: -4px 0 !important;
  border-bottom: 3px solid $secondGold;
}

// ?END SWIPER
