.statistic {
  margin-top: rem(40px);
  padding-bottom: rem(20px);

  &__title {
    text-align: center;
  }
  &__table {
    width: 100%;
    overflow-x: auto;
    position: relative;
    table {
      width: 100%;
      border-collapse: collapse;
      position: relative;
      table-layout: fixed;
    }
    th {
      text-transform: uppercase;
      text-align: left;
      border-bottom: 1px solid rgba(172, 172, 172, 0.6);
      padding: rem(10px) 0;
      width: 80px;
      background: $white;
      &:first-of-type {
        position: sticky;
        left: 0;
        z-index: 8;
        width: 170px;
      }
    }
    th.sort-up {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 3px;
        background: $secondGold;
        top: 0;
        left: 0;
      }
      &:first-of-type {
        position: sticky;
        left: 0;
        width: 170px;
      }
    }
    th.sort-down {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 3px;
        background: $secondGold;
        bottom: 0;
        left: 0;
      }
      &:first-of-type {
        position: sticky;
        left: 0;
        width: 170px;
      }
    }
    td {
      padding: rem(10px) 0;
      border-bottom: 1px solid rgba(172, 172, 172, 0.6);
      width: max-content;
      background: $white;
      &:not(:first-of-type) {
        width: 80px;
      }
      &:first-of-type {
        position: sticky;
        left: 0;
      }
    }
  }
}

.player-stat {
  margin-top: rem(20px);
  &__head-title {
    text-align: center;
  }
  &__player {
    padding: rem(10px);
    width: 100%;
    max-width: rem(560px);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.3fr 0.5fr 1fr;
    gap: rem(10px);
    justify-items: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    position: relative;
  }
  &__title {
    grid-column: span 2;
    grid-row: 1;
    @include font($h3Size, 600, $titleFontFamily);
    @include respm;
  }
  &__stat {
    grid-column: span 2;
    grid-row: 2;
    @include font(rem(70px), 700, $titleFontFamily);
    color: $primaryBlue;
    @include respm;
    span {
      vertical-align: super;
      font-size: rem(40px);
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  &__name {
    grid-column: 1;
    grid-row: 3;
    align-self: flex-start;
    @include font(rem(30px), 500);
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70%;
    &_first {
      width: 75%;
    }
    z-index: -1;
  }
}

// //START SWIPER
.swiper_player {
  width: 100%;
  height: 100%;
}
.swiper-wrapper_player {
  position: relative;
  transition-duration: 0.8s !important;
}
.swiper-slide_player {
  padding: rem(10px);
  margin-top: rem(50px);
  height: 100%;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: rem(10px);
  z-index: 9;
}

.swiper-slide_player img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination_player {
  position: absolute !important;
  padding: 0 !important;
  top: 0 !important;
  height: rem(30px) !important;
  display: flex;
  justify-content: space-between;
  @include font(rem(20px), 500, $titleFontFamily);
  text-transform: uppercase;
  margin: 0 !important;
}

.swiper-pagination-bulet_player {
  width: auto;
  height: auto;
  text-align: center;
  line-height: rem(30px) !important;
  opacity: 1;
  background: transparent !important;
  border-radius: 0;
  border-bottom: 3px solid $white;
  cursor: pointer;
}

.swiper-pagination-bulet-active_player {
  border-bottom: 3px solid $secondGold !important;
}

// ?END SWIPER
