.subscribe {
  background: $primaryBlue;
  margin-top: rem(20px);
  padding: rem(20px) 0;
  text-align: center;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    @include respm;
    @include font($h2-mob, 600, $titleFontFamily);
    color: $secondGold;
    text-transform: uppercase;
  }

  &__email {
    margin-top: rem(14px);
    padding: rem(15px) rem(20px);
    background: #e2e2e2;
    color: $black;
    font-size: rem(18px);
    flex-basis: 70%;
    border-radius: rem(8px);
  }

  &__submit {
    margin-top: rem(14px);
    padding: rem(15px) rem(40px);
    background: $secondGold;
    color: $primaryBlue;
    @include font(rem(20px), 600);
    border-radius: rem(8px);
    text-transform: uppercase;
  }
}
