.team {
  margin-top: rem(40px);

  // .team__title

  &__title {
    @include respm;
    @include font($h2-mob, 600, $titleFontFamily);
    text-transform: uppercase;
    color: $primaryBlue;
    text-align: center;
  }
}

.swiper {
  // .swiper_team

  &_team {
    display: none;
  }
  &_team-mob {
    overflow: hidden !important;
  }
}
.swiper-wrapper {
  // .swiper-wrapper_team
  padding-bottom: rem(20px);
}

.swiper-slide {
  // .swiper-slide_team
  &_team-mob {
    flex-direction: row !important;
    
  }
}
.team-item {
  // .team-item__img
  position: relative;
  overflow: hidden;
  &__img {
    max-width: 100%;
    img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  // .team-item__content

  &__content {
    width: 100%;
    display: flex;
    padding: rem(10px) 0;
    border-radius: 0 0 10px 10px;
    transition: all 0.3s ease-in-out;
    cursor: default;
  }

  // .team-item__name

  &__name {
    @include respm;
    padding-left: rem(20px);
    @include font(rem(24px), 600);
    text-align: center;
    color: $primaryBlue;
  }

  // .team-item__number

  &__number {
    @include respm;
    font-size: rem(36px);
    font-weight: 600;
    padding: 0 rem(20px);
    order: -1;
  }

  // .team-item__position

  &__position {
    font-size: rem(18px);
    font-weight: 400;
    display: block;
  }

  // .team-item__roster

  &__roster {
    @include respm;
    color: $secondGold;
    font-size: rem(18px);
    text-align: center;
    display: block;
  }
}
.swiper-button {
}

.swiper-pagination {
  // .swiper-pagination_team
  margin-top: rem(20px);
  bottom: 0 !important;
  &-bullet {
    width: 12px;
    height: 12px;
    background: $primaryBlue !important;
    opacity: 1;
  }

  &-bullet-active {
    background: $secondGold !important;
  }
}

.swiper-button-next_team, .swiper-button-prev_team {
  visibility: collapse;
}
