.team {
  margin-top: rem(40px);

  // .team__title

  &__title {
    @include respm;
    @include font($h2Size, 600, $titleFontFamily);
    text-transform: uppercase;
    color: $primaryBlue;
    text-align: center;
  }
}

.swiper {
  // .swiper_team

  &_team {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
  }
}
.swiper-wrapper {
  // .swiper-wrapper_team

  &_team {
    margin-top: rem(20px);
    display: flex;
    justify-content: space-between;
    gap: rem(10px);
    width: 100%;
    height: 100%;
  }
}
.swiper-slide {
  // .swiper-slide_team

  &_team {
    flex-basis: calc(20% - 9px);
    height: calc((100% - 10px) / 2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
.team-item {
  // .team-item__img
  position: relative;
  overflow: hidden;
  &__img {
    max-width: 100%;
    img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  // .team-item__content

  &__content {
    position: absolute;
    width: 100%;
    height: 55%;
    bottom: -28%;
    left: 0;
    background: rgba(29, 66, 138, 0.9);
    transition: all 0.5s ease-in-out;
    cursor: default;
    &:hover {
      bottom: 0;
    }
  }

  // .team-item__name

  &__name {
    @include respm;
    padding: rem(10px) 0;
    @include font(rem(20px), 500);
    text-align: center;
    color: $secondGold;
  }

  // .team-item__number

  &__number {
    @include respm;
    color: $white;
    font-size: rem(24px);
    font-weight: 500;
    padding: 0 rem(20px);
  }

  // .team-item__position

  &__position {
    font-size: rem(18px);
    float: right;
    font-weight: 400;
  }

  // .team-item__roster

  &__roster {
    @include respm;
    color: $secondGold;
    font-size: rem(18px);
    text-align: center;
  }
}
.swiper-button {
  // .swiper-button-prev_team
  &-prev_team {
   //  position: absolute;
   //  width: 30px;
   //  //  z-index: 4;
   //  left: -30px;
  }
  &-next_team {
   //  position: absolute;
   //  width: 30px;
   //  //  z-index: 4;
   //  right: -30px;
  }
}

.swiper-pagination {
  // .swiper-pagination_team

  &_team {
    position: static !important;
    margin-top: rem(10px);
    // height: rem(30px);
    display: flex;
    gap: rem(10px);
    justify-content: center;
  }
  &-bulet_team {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    opacity: 1;
    background: $primaryBlue;
    &:hover {
      cursor: pointer;
    }
  }

  &-bulet-active_team {
    background: $secondGold;
  }
}
