.news {
  margin-top: rem(20px);

  &__tab-list {
    gap: rem(10px) rem(10px);
  }

  &__tab-item {
    @include font(rem(26px), 500, $titleFontFamily);
  }

  &__content {
    max-width: 100%;
    margin-top: rem(24px);
    grid-template-columns: 1fr 1fr;
  }
}

.news-item {
  grid-template-rows: 1fr 0.7fr;
  &__img {
    height: rem(200px);
  }

  &__text {
    display: grid;
    grid-template-rows: 0.2fr 0.8fr 0.2fr;
  }

  &__date {
    font-size: rem(14px);
  }

  &__tags {
    display: flex;
    justify-content: space-between;
    padding: 0 rem(10px);
  }
}
