.shop {
  &__title {
  }

  &__wrapper {
    gap: rem(20px);
  }

  &__item {
    width: calc(50% - 20px);
    box-shadow: 0 rem(10px) rem(10px) rem(5px) rgba(0, 0, 0, 0.3);
  }
}
.cart {
  &__item {
    flex-wrap: nowrap;
    gap: rem(12px);
  }

  &__item-del {
    order: 1;
  }

  &__item-img {
    flex-basis: 40%;
    height: rem(200px);
  }
  &__item-text {
    flex-basis: 40%;
  }
}
