////START Last Result
.last-result {
  margin-top: rem(50px);

  &__result-wrapper {
    padding: rem(10px);
    margin-top: rem(10px);
    box-shadow: 0 rem(10px) rem(10px) rem(5px) rgba(0, 0, 0, 0.3);
    max-width: rem(640px);
  }

}
//? END Last Result

.shedule {
  width: 100%;
  margin-top: rem(20px);
  background: $primaryBlue;
  padding: rem(20px) 0;

  &__title {
    text-align: center;
    color: $secondGold;
  }

  &__logo-team {
    width: 100%;
    max-width: 100%;
    img {
      width: rem(160px) !important;
      height: rem(160px) !important;
      object-fit: contain !important;
    }
  }

  &__teame-name {
    @include font(rem(32px), 500, $titleFontFamily);
  }

  &__home {
    @include font(rem(50px), 500, $titleFontFamily);
    @include respm;
  }

  &__league {
    @include font(rem(28px), 500, $titleFontFamily);
  }

  &__date {
    @include font(rem(24px), 500, $titleFontFamily);
  }
}
//? END Shedule section
