.shop {
  margin-left: auto;
  margin-right: auto;
  &__title {
    @include font($h2Size, 600, $titleFontFamily);
  }

  &__wrapper {
    gap: rem(20px);
  }

  &__item {
    grid-template-rows: 1fr 0.6fr 0.3fr 0.3fr;
    width: calc(25% - 20px);
    box-shadow: 0 rem(10px) rem(10px) rem(5px) rgba(0, 0, 0, 0.3);
    &-title {
      padding-top: rem(16px);
    }
  }
}
