.shop {
  margin-left: auto;
  margin-right: auto;

  &__wrapper {
    gap: rem(10px);
  }

  &__item {
    width: calc(25% - 10px);
    box-shadow: 2px rem(8px) 8px rgba(0, 0, 0, 0.3);
    &-title {
      padding-top: rem(16px);
    }
  }
}
