.sponsors {

  // .sponsors__wrapper

  &__wrapper {
    padding-bottom: rem(30px);
  }

  // .sponsors__title



  // .sponsors__item

  &__item {
    flex-basis: 22%;
    text-align: center;
  }

  // .sponsors__img

  &__img {
    width: 60%;
    height: 30%;
  }
}
